<div class="container bootstrap snippets bootdey">
  <div class="row ng-scope">
      <div class="col-md-4">
          <div class="colormanga panel panel-default">
              <div class="panel-body text-center">
                  <div class="pv-lg"><img style="margin-top: 10px;" *ngIf="assignmentTransmis.profImage!=null" class="center-block img-responsive img-circle img-thumbnail thumb96" src="../../../assets/img/{{assignmentTransmis.profImage}}" alt="Contact"></div>
                  <h3 class="m0 text-bold">{{assignmentTransmis.nomProf}}</h3>
                 
              </div>
          </div>
          <div class="colormanga panel panel-default hidden-xs hidden-sm">
              <div class="panel-heading">
                  <div class="panel-title text-center"><h3>Notation:</h3></div>
              </div>
              <div class="panel-body">
                  
                  
                  <div *ngIf="assignmentTransmis.rendu" class="media">
                      <div style="margin-top: 40px;margin-left: 105px;
                      margin-bottom: 20px;"> 
                        <p>Note: {{assignmentTransmis.note}}</p>
                        <p>Remarque: {{assignmentTransmis.remarque}}</p>
                      </div>
                            
                  </div>
                  <div *ngIf="!assignmentTransmis.rendu" class="media">
                    <div style="margin-top: 40px;margin-left: 105px;
                    margin-bottom: 20px;"> 
                      <p>Devoir non rendu</p>
                    </div>
                          
                </div>
                 
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class=" panel panel-default">
              <div class="panel-body">
                  <div class="pull-right">
                     
                  </div>
                  <img style="margin-left: 45%;
                  margin-top: 10px;" *ngIf="assignmentTransmis.profImage!=null" class="center-block img-responsive img-circle img-thumbnail thumb96" src="../../../assets/img/{{assignmentTransmis.matiereImage}}" alt="Contact">
                  <div class="h4 text-center">{{assignmentTransmis.nomMatiere}}</div>
                  <div class="row pv-lg">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                          <form class="form-horizontal ng-pristine ng-valid">
                              <div class="form-group">
                                  <label class="control-label" for="inputContact1">Nom Projet</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="inputContact1" type="text" placeholder="" value="{{assignmentTransmis.nom}}" readonly> 
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="inputContact2">Nom Eleve</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="inputContact2" type="text" value="{{assignmentTransmis.auteur}}" readonly>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="inputContact3">Date</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="inputContact3" type="text" value="{{assignmentTransmis.dateDeRendu | date}}" readonly>
                                  </div>
                              </div>
                              
                            
                              
                             
                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <button [disabled]="!isAdmin()" mat-stroked-button color="primary" (click)="onClickEdit()">EDIT</button>
                                    <button mat-stroked-button color="warn" (click)="onDelete()">DELETE</button>
                                  </div>
                              </div>
                          </form>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>