<main class="container">
  
  <h1>Liste des assignments</h1>
  
  <mat-divider></mat-divider>

  
  <div class="btn-toolbar" role="toolbar" style="margin: 0;">
    <div class="btn-group">
        <button type="button" (click)="premierePage()" class="btn btn-default color-blue"><i style="color:#007bff;" class="fa fa-fast-backward"></i></button>
        <button type="button" [disabled]="!hasPrevPage" (click)="pagePrecedente()" class="btn btn-default color-blue"><i class="fa fa-step-backward"></i></button>
        <button type="button" class="btn btn-default text-faded">Document {{page}} à {{page+10}}</button>
        <button type="button" [disabled]="!hasNextPage" (click)="pageSuivante()" class="btn btn-default color-blue"><i class="fa fa-step-forward"></i></button>
        <button type="button" (click)="dernierePage()" class="btn btn-default color-blue"><i style="color:#007bff;" class="fa fa-fast-forward"></i></button>
    </div>
</div>

  

  

    <mat-tab-group (selectedTabChange)="onTabChanged($event);" animationDuration="200ms" #tabGroup>

        <mat-tab label="Rendu">

         
          <mat-list *ngFor="let a of assignmentsRendu">
            <mat-card class="example-card" >
              <mat-card-header style="float:left">
                <div *ngIf="a.matiereImage != null" mat-card-avatar [ngStyle]="{'background-image': 'url(/assets/img/' +a.matiereImage+')','background-size': 'cover'}"></div>
                <mat-card-title>{{a.nom}} devoir de {{a.nomMatiere}}</mat-card-title>
                <mat-card-subtitle>Nom élève : {{a.auteur}}</mat-card-subtitle>
              </mat-card-header>
              <div style="margin-left:90%" *ngIf="a.matiereImage != null">
                <label style="text-align: center;">Nom du prof: {{a.nomProf}}</label><br>
                <img mat-card-image src="/assets/img/{{a.profImage}}" style="width: 100px;height: 100px;" alt="Photo of a Shiba Inu">
              </div>
              <mat-card-content>
                <p *ngIf="a.rendu; else nonsoumis" appRendu>
                  {{a.nom}}, rendu par l'élève.
                </p>
                <ng-template #nonsoumis>
                  <p appNonRendu>
                    {{a.nom}}, non encore rendu par l'élève.
                  </p>
                </ng-template>
              </mat-card-content>
              <mat-card-actions>
               <a style="margin-left:50%" routerLink="/assignment/{{a.id}}">
                <button type="button" class="btn btn-primary"> 
                  Detail
                  
        
                </button></a>
              </mat-card-actions>
            </mat-card>
          </mat-list>
        

        </mat-tab>
      

        <mat-tab label="Non Rendu">

          <h3><span class="badge badge-pill badge-success">Done</span></h3>
      <div style="background-color: beige;"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngIf="done.length>0">
      <mat-list *ngFor="let a of done">
       
        <mat-card class="example-card" cdkDrag>
          <mat-card-header style="float:left">
            <div *ngIf="a.matiereImage != null" mat-card-avatar [ngStyle]="{'background-image': 'url(/assets/img/' +a.matiereImage+')','background-size': 'cover'}"></div>
            <mat-card-title>{{a.nom}} devoir de {{a.nomMatiere}}</mat-card-title>
            <mat-card-subtitle>Nom élève : {{a.auteur}}</mat-card-subtitle>
          </mat-card-header>
          <div style="margin-left:90%" *ngIf="a.matiereImage != null">
            <label style="text-align: center;">Nom du prof: {{a.nomProf}}</label><br>
            <img mat-card-image src="/assets/img/{{a.profImage}}" style="width: 100px;height: 100px;" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-content>
            <p *ngIf="a.rendu; else nonsoumis" appRendu>
              {{a.nom}}, rendu par l'élève.
            </p>
            <ng-template #nonsoumis>
              <p appNonRendu>
                {{a.nom}}, non encore rendu par l'élève.
              </p>
            </ng-template>
          </mat-card-content>
          <mat-card-actions>
           <a style="margin-left:50%" routerLink="/assignment/{{a.id}}">
            <button type="button" class="btn btn-primary"> 
              Detail
              
    
            </button></a>
          </mat-card-actions>
        </mat-card>
 
    </mat-list></div>
    <div *ngIf="done.length==0" class="ngeza">
      <h3 class="center"> Veuillez drag ici les devoirs a rendre</h3>
  </div>
  </div>

 

         
          <div  
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="assignmentsNonRendu"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          >
          
            <mat-list 
            *ngFor="let a of assignmentsNonRendu"  >
               <mat-card class="example-card" cdkDrag>
                 <mat-card-header style="float:left">
                   <div *ngIf="a.matiereImage != null" mat-card-avatar [ngStyle]="{'background-image': 'url(/assets/img/' +a.matiereImage+')','background-size': 'cover'}"></div>
                   <mat-card-title>{{a.nom}} devoir de {{a.nomMatiere}}</mat-card-title>
                   <mat-card-subtitle>Nom élève : {{a.auteur}}</mat-card-subtitle>
                 </mat-card-header>
                 <div style="margin-left:90%" *ngIf="a.matiereImage != null">
                   <label style="text-align: center;">Nom du prof: {{a.nomProf}}</label><br>
                   <img mat-card-image src="/assets/img/{{a.profImage}}" style="width: 100px;height: 100px;" alt="Photo of a Shiba Inu">
                 </div>
                 <mat-card-content>
                   <p *ngIf="a.rendu; else nonsoumis" appRendu>
                     {{a.nom}}, rendu par l'élève.
                   </p>
                   <ng-template #nonsoumis>
                     <p appNonRendu>
                       {{a.nom}}, non encore rendu par l'élève.
                     </p>
                   </ng-template>
                 </mat-card-content>
                 <mat-card-actions>
                  <a style="margin-left:50%" routerLink="/assignment/{{a.id}}">
                   <button type="button" class="btn btn-primary"> 
                     Detail
                     
           
                   </button></a>
                 </mat-card-actions>
               </mat-card>
             </mat-list>
          
          
          
          </div>

         
        </mat-tab>
      
    </mat-tab-group>

    

      

 
</main>

<jw-modal id="custom-modal-1">
  <h1>Modifier note de {{nomDevoirAModifier}}</h1>
  <p>Note: <input type="number" [(ngModel)]="note" /></p>
  <p>Remarque: <input type="text" [(ngModel)]="remarque"/></p>
  <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button>
  
  <button style="margin-left: 20px;" *ngIf="isConnecter" type="button" class="btn btn-success" (click)="valider();">Valider la note</button>
  
  <div *ngIf="!isConnecter"><br>
    
    <div class="alert alert-danger" role="alert">
      Veuillez vous connecter
    </div>
</div>
<div *ngIf="error!=''"><br>
    
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
</div>
</jw-modal>




