<h2>Modification de l'assignment</h2>

<form ngForm #formAssignment class="form" (ngSubmit)="onSubmit()">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            [(ngModel)]="nom"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <div>
        <mat-form-field>
          <mat-label>Nom eleve</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            [(ngModel)]="nomEleve"
            formControlName="firstCtrl3"
            required
          />
        </mat-form-field>
      </div>
        <div>
        <mat-form-field appearance="fill">
          <mat-label>Choisissez une date</mat-label>
          <input matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu" name="date" formControlName="firstCtrl2">
      
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
        <div>
          <button type='button' mat-button matStepperNext>Next</button>
        </div>
      </ng-form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Ajouter matiere</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Matiere</mat-label>
          <mat-select (selectionChange)="getMatiereById()" formControlName="secondCtrl" [(ngModel)]="matiere">
            <mat-option   *ngFor="let m of matieres" [value]="m._id">
              {{m.nom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="afficherMatiere">
          <mat-card class="mat">
            <mat-card-header>
              <mat-card-title>Nom matiere: {{matiereAafficher.nom}}</mat-card-title>
              <img class="imageMatiere" src="/assets/img/{{matiereAafficher.image}}" style="width:50px;height:50px" alt="image matiere">
              <mat-card-subtitle>Nom prof: {{matiereAafficher.nomProf}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="image">
                
                
                  
                
                <img class="imageProf" src="/assets/img/{{matiereAafficher.imageProf}}" style="width:350px;height:350px" alt="Imago prof">
              </div>
              
          
              
            </mat-card-content>
            <mat-card-actions>
              
            </mat-card-actions>
          </mat-card>

          
          

        </div>
       
        <div>
          <button mat-button matStepperPrevious type='button'>Back</button>
          <button mat-button matStepperNext type='button'>Next</button>
        </div>
      </ng-form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious type='button'>Back</button>
        <button mat-button (click)="stepper.reset()" type='button'>Reset</button>
        <button mat-button type="submit">submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</form>
